@charset "UTF-8";
body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  font-weight: 500;
  letter-spacing: 0.08em;
  line-height: 2;
  min-width: 300px;
}

.ft-sm, .footer .copyright {
  font-size: 10px;
}

.ft-rg, body {
  font-size: 14px;
}

.ft-md {
  font-size: 20px;
}

.ft-lg {
  font-size: 28px;
}

.ft-big {
  font-size: 48px;
}

.ft-bilo, .main-title-en, .top .catch, .footer .copyright, .mobile-menu__text {
  font-family: bilo, sans-serif;
}

.text-blue {
  color: #6FB2AF;
}

.regular {
  font-weight: 500;
}

.medium {
  font-weight: 600;
}

.bold, .work-details-table th {
  font-weight: 700;
}

.clear-f::before {
  content: "";
  display: table;
}

.clear-f::after {
  content: "";
  clear: both;
}

.mb-sm, .work-details-title {
  margin-bottom: 24px;
}

.mb-rg {
  margin-bottom: 32px;
}

.mb-md {
  margin-bottom: 48px;
}

.mb-lg {
  margin-bottom: 56px;
}

.pb-sm {
  padding-bottom: 24px;
}

.pb-md {
  padding-bottom: 32px;
}

.pb-md {
  padding-bottom: 56px;
}

.pd-b-none {
  padding-bottom: 0 !important;
}

.wrapper {
  padding: 0 15px;
  margin: 0 auto;
}

.inner {
  margin-top: 70px;
}

.main-title {
  text-align: center;
  margin-bottom: 80px;
}

.main-title-en {
  font-size: 56px;
  letter-spacing: 0.2em;
  line-height: 76px;
}

.main-title-ja {
  font-size: 16px;
  letter-spacing: 0.2em;
  line-height: 1;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-left {
  width: 100%;
}

.title-bar::before, .title-bar::after {
  content: "";
  width: 30px;
  height: 2px;
  display: inline-block;
  background-color: #000;
  vertical-align: middle;
}

.title-bar::before {
  margin-right: 15px;
}

.title-bar::after {
  margin-left: 15px;
}

.btn {
  position: relative;
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 0 auto;
  padding: 24px 26px;
  background: #000;
  border: 2px solid #000;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-arrow::before {
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  width: 10px;
  height: 10px;
  background-image: url(../images/arrow_right_white.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.btn:hover {
  color: #000;
  background-color: #fff;
}

.btn:hover .btn-arrow::before {
  color: #000;
  background-image: url(../images/arrow_right_black.svg);
}

.header {
  position: fixed;
  top: 0;
  z-index: 100;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}

.header-inner {
  height: 70px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.header-logo img {
  height: 32px;
}

.header-logo:hover {
  opacity: 0.7;
}

.header-nav {
  display: none;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-menu__item {
  line-height: 100px;
  line-height: 1;
  margin-left: 20px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.header-menu__item a {
  padding: 10px 20px;
  border-radius: 20px;
}

.header-menu__item.active a {
  background-color: #13201e;
  color: #fff;
}

.header-menu__item:hover {
  opacity: 0.6;
}

.header .mobile-menu__btn {
  z-index: 100;
}

.header .twitter-icon {
  vertical-align: middle;
  height: 1.25em;
}

:root {
  --catch--font: calc(2rem + ((1vw - 3px) * 2.4242));
  --catch--min-height: 0vw;
}

.top {
  margin-bottom: 120px;
}

.top-bg {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 600px;
  margin: 0 auto;
  background-image: url(../images/top_sp.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.top .catch {
  position: absolute;
  bottom: 80px;
  z-index: 10;
  margin-left: 0px;
  font-size: var(--catch--font);
  min-height: var(--catch--min-height);
  letter-spacing: 0.1em;
  line-height: 2.3em;
}

.top .catch span {
  background-color: #fff;
  padding: 10px;
}

.about {
  position: relative;
  padding: 90px 0 120px;
  background-color: #F6FDFD;
}

.about::before, .about::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  max-height: 120px;
  height: 10%;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}

.about::before {
  top: 0;
  background-image: url(../images/about_bg_top.svg);
  background-position: top;
}

.about::after {
  bottom: 0;
  background-image: url(../images/about_bg_bottom.svg);
  background-position: bottom;
}

.about-text {
  margin: auto;
  margin-bottom: 32px;
}

.about-profile-img {
  position: relative;
  width: 100%;
  max-width: 320px;
  height: auto;
  padding: 0 0 20px 20px;
  margin: 0 auto;
  margin-bottom: 32px;
  z-index: 1;
}

.about-profile-img::after {
  position: absolute;
  top: 8%;
  left: calc(-8% + 20px);
  z-index: -1;
  content: "";
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  background-image: url(../images/about_img_bg.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.about-profile-img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.about .flex-right {
  display: none;
}

.works {
  padding: 120px 0 64px;
}

.works-container {
  margin-bottom: 64px;
}

.works-container:last-child {
  margin-bottom: 0;
}

.works-title {
  margin-bottom: 56px;
  font-size: 28px;
  text-align: center;
  display: block;
}

.card {
  margin-bottom: 56px;
}

.card-container {
  margin: 0 auto;
  padding: 0 15px;
}

.card-img {
  overflow: hidden;
}

.card-img > img {
  width: 100%;
  height: auto;
}

.card-text {
  line-height: 1;
}

.darken {
  position: relative;
  padding: 0;
  margin: 0;
}

.darken-img {
  margin: 0;
  padding: 0;
}

.darken-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  text-align: center;
}

.darken p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
}

.darken:hover .darken-text {
  opacity: 1;
}

.work-name {
  margin-top: 15px;
  font-size: 18px;
  line-height: 1.2;
}

.category-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 10px;
}

.category-bar {
  background-color: #13201e;
  color: #fff;
  margin-right: 10px;
  padding: 5px 1.5em;
  margin-bottom: 5px;
  border-radius: 30px;
  font-size: 13px;
}

.footer {
  background-color: #13201e;
  padding: 40px 0;
}

.footer-inner {
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 64px;
}

.footer-logo {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  margin-bottom: 32px;
}

.footer-logo img {
  height: 32px;
}

.footer-logo:hover {
  opacity: 0.7;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

.footer-menu__item {
  margin-bottom: 16px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  padding: 5px 20px;
}

.footer-menu__item:last-child {
  margin-bottom: 0;
}

.footer-menu__item:hover {
  opacity: 0.6;
}

.footer-menu__item a {
  padding: 10px 20px;
  border-radius: 20px;
}

.footer-menu__item.active a {
  background-color: #fff;
  color: #13201e;
}

.footer .copyright {
  line-height: 1;
  color: #fff;
  text-align: center;
}

.page-sec-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 64px;
}

.about-page {
  padding: 64px 0 0;
}

.about-page-text {
  margin-bottom: 24px;
}

.works-page {
  padding: 64px 0 56px;
}

.works-page-text {
  margin-bottom: 24px;
}

.profile-sec {
  margin-bottom: 120px;
}

.profile-img {
  position: relative;
  width: 100%;
  max-width: 320px;
  height: auto;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.profile-img::after {
  position: absolute;
  top: calc(8% + 20px);
  left: calc(-8% + 20px);
  z-index: -1;
  content: "";
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background-color: #FFF9EE;
}

.profile-img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.profile-dl {
  display: block;
  line-height: 1.5;
}

.profile-dl dt {
  margin-bottom: 12px;
  display: block;
  float: left;
  width: 30%;
  clear: both;
}

.profile-dl dd {
  margin-bottom: 12px;
  display: block;
  float: right;
  width: 70%;
}

.career-sec {
  margin-bottom: 120px;
}

.career-table {
  border-collapse: collapse;
  line-height: 1.5;
}

.career-table th {
  width: 20%;
  padding-bottom: 12px;
}

.career-table td {
  width: 80%;
  padding-bottom: 12px;
}

.skill-sec {
  margin-bottom: 120px;
}

.skill-card {
  margin-bottom: 64px;
  padding: 0 20px;
}

.skill-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skill-img {
  text-align: center;
  height: auto;
  margin-bottom: 12px;
}

.skill-img:nth-child(2) {
  margin-left: 15px;
}

.skill-img > img {
  height: 60px;
}

.skill-name {
  font-size: 22px;
  text-align: center;
  margin-bottom: 12px;
}

.skill-text {
  line-height: 1.8;
}

.goal-sec {
  background-image: url(../images/about.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 120px 0;
}

.goal-sec .page-sec-title {
  text-align: left;
}

.goal-text-bg {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 64px 32px;
}

.goal-text > p {
  margin-bottom: 32px;
}

.goal-text > p:last-child {
  margin-bottom: 0;
}

.work-details-container .btn {
  margin: 0 auto;
}

.work-details-title {
  font-size: 18px;
  text-align: center;
}

.work-details-img {
  margin-bottom: 32px;
}

.work-details-img > img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.work-details-table {
  border-collapse: collapse;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 56px;
}

.work-details-table th {
  width: 100px;
  padding: 10px 0;
  text-align: left;
}

.work-details-table td {
  padding: 10px 0;
  text-align: left;
}

.work-details-table td > a {
  text-decoration: underline;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.work-details-table td > a:hover {
  opacity: 0.6;
}

.design-comp {
  background-color: #f8f8f8;
  margin-top: 100px;
  padding: 100px 15px;
}

.design-comp-img {
  margin: 0 auto;
  margin-bottom: 56px;
  width: 100%;
}

.design-comp-img > img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  display: inline-block;
  text-align: center;
}

.design-comp-text {
  margin-bottom: 8px;
  font-size: 16px;
  text-align: center;
}

.design-comp .flex-container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.design-comp .btn {
  margin: 0 auto;
}

@media screen and (min-width: 560px) {
  .work-details-table th {
    width: 20%;
  }
  .work-details-table td {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 0 40px;
  }
  .flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .flex-left, .flex-right {
    width: 48%;
  }
  .btn {
    max-width: 300px;
    margin: 0;
  }
  .header-inner {
    padding: 0 40px;
  }
  .top-bg {
    background-image: url(../images/top_pc.jpg);
  }
  .top .catch-bg {
    bottom: 60px;
    width: 178px;
    height: 178px;
  }
  .top .catch {
    bottom: 90px;
  }
  .about::before, .about::after {
    max-height: 200px;
    height: 20%;
  }
  .about-text {
    margin-bottom: 56px;
  }
  .about-img-sp {
    display: none;
  }
  .about .flex-right {
    display: block;
  }
  .about .main-title {
    text-align: left;
    margin-bottom: 64px;
  }
  .card-container {
    padding: 0 40px;
  }
  .footer-inner {
    padding: 0 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 80px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer-logo {
    margin-bottom: 0px;
  }
  .footer-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer-menu__item {
    margin-left: 20px;
    padding: 10px 20px;
    margin-bottom: 0;
    line-height: 1;
  }
  .concept-text-bg {
    padding: 64px 56px;
  }
  .profile-sec {
    margin-bottom: 120px;
  }
  .career-sec {
    margin-bottom: 120px;
  }
  .career-table th {
    width: 15%;
  }
  .career-table td {
    width: 85%;
  }
  .design-comp {
    margin-top: 120px;
    padding: 120px 0;
  }
  .design-comp-img {
    width: 90%;
  }
}

@media screen and (min-width: 960px) {
  body {
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    font-weight: 500;
  }
  .ft-sm, .footer .copyright {
    font-size: 12px;
  }
  .ft-rg, body {
    font-size: 16px;
  }
  .ft-md {
    font-size: 24px;
  }
  .ft-lg {
    font-size: 32px;
  }
  .ft-big {
    font-size: 64px;
  }
  .ft-bilo, .main-title-en, .top .catch, .footer .copyright, .mobile-menu__text {
    font-family: bilo, sans-serif;
  }
  .regular {
    font-weight: 500;
  }
  .medium {
    font-weight: 600;
  }
  .bold, .work-details-table th {
    font-weight: 700;
  }
  .mb-sm, .work-details-title {
    margin-bottom: 24px;
  }
  .mb-rg {
    margin-bottom: 32px;
  }
  .mb-md {
    margin-bottom: 48px;
  }
  .mb-lg {
    margin-bottom: 120px;
  }
  .pb-sm {
    padding-bottom: 24px;
  }
  .pb-md {
    padding-bottom: 32px;
  }
  .pb-md {
    padding-bottom: 56px;
  }
  .wrapper {
    max-width: 1200px;
    padding: 0 100px;
  }
  .inner {
    margin-top: 100px;
  }
  .main-title {
    text-align: center;
    margin-bottom: 100px;
  }
  .main-title-en {
    font-size: 64px;
    line-height: 84px;
  }
  .main-title-ja {
    font-size: 20px;
  }
  .title-bar::before, .title-bar::after {
    width: 40px;
  }
  .header-inner {
    padding: 25px 40px;
    max-width: 1280px;
    margin: auto;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    height: 100px;
  }
  .header-logo img {
    height: 50px;
  }
  .header-nav {
    display: block;
  }
  .header .mobile-menu__btn {
    display: none;
  }
  :root {
    --catch--font: 48px;
  }
  .top {
    margin-bottom: 160px;
  }
  .top-bg {
    height: 650px;
  }
  .top .catch-bg {
    left: 60px;
    width: 200px;
    height: 200px;
  }
  .top .catch {
    bottom: 100px;
    line-height: 2.1em;
  }
  .about {
    padding: 200px 0 280px;
  }
  .works {
    padding: 160px 0 94px;
  }
  .works-title {
    font-size: 36px;
  }
  .card-container {
    max-width: 1200px;
    padding: 0 100px;
  }
  .work-name {
    font-size: 22px;
  }
  .category-bar {
    font-size: 15px;
  }
  .footer-inner {
    max-width: 1280px;
    margin: 0 auto 80px auto;
  }
  .footer-logo img {
    height: 36px;
  }
  .page-sec-title {
    font-size: 36px;
    margin-bottom: 80px;
  }
  .works-page {
    padding: 64px 0 96px;
  }
  .profile-sec {
    margin-bottom: 160px;
  }
  .profile-sec .flex-right {
    width: 48%;
  }
  .career-sec {
    margin-bottom: 160px;
  }
  .skill-sec {
    margin-bottom: 160px;
  }
  .skill-img > img {
    height: 60px;
  }
  .skill-name {
    font-size: 24px;
  }
  .goal-sec {
    padding: 160px 0;
  }
  .goal-text-bg {
    padding: 80px 64px;
    width: 60%;
  }
  .work-details-img {
    margin-bottom: 56px;
  }
  .work-details-table th {
    padding: 15px 0;
  }
  .work-details-table td {
    padding: 15px 0;
  }
  .design-comp {
    margin-top: 160px;
    padding: 160px 0;
  }
  .design-comp-img {
    width: 90%;
    margin-bottom: 64px;
  }
  .design-comp-text {
    margin-bottom: 12px;
    font-size: 18px;
    text-align: center;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100vh;
  z-index: 200;
  visibility: hidden;
}

.mobile-menu__btn {
  background-color: unset;
  border: none;
  outline: none !important;
  cursor: pointer;
  z-index: 200;
}

.mobile-menu__btn > span {
  background-color: #13201e;
  width: 30px;
  height: 2px;
  border-radius: 1px;
  display: block;
  margin-bottom: 6px;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.mobile-menu__btn > span:last-child {
  margin-bottom: 0;
}

.mobile-menu__text {
  font-size: 12px;
  text-align: center;
  line-height: 1em;
}

.mobile-menu__text::after {
  content: "menu";
  width: 100%;
}

.mobile-menu__bg {
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transform: translate(100%);
          transform: translate(100%);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: background-color 0.5s, -webkit-transform 0.3s;
  transition: background-color 0.5s, -webkit-transform 0.3s;
  transition: background-color 0.5s, transform 0.3s;
  transition: background-color 0.5s, transform 0.3s, -webkit-transform 0.3s;
}

.mobile-menu__cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  cursor: pointer;
  z-index: 100;
}

.mobile-menu-main {
  margin-top: 80px;
  padding: 0;
  z-index: 100;
}

.mobile-menu__item {
  list-style: none;
  display: block;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.6s;
  transition: opacity 0.3s, -webkit-transform 0.6s;
  transition: transform 0.6s, opacity 0.3s;
  transition: transform 0.6s, opacity 0.3s, -webkit-transform 0.6s;
}

.mobile-menu__link {
  display: block;
  margin: 15px 20px;
  color: #fff;
  font-size: 200%;
  text-decoration: none !important;
  text-align: center;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  padding: 8px 20px;
  border-radius: 40px;
}

.mobile-menu__link.active {
  color: #000;
  background-color: #fff;
}

.mobile-menu__link:hover {
  opacity: 0.6;
}

.mobile-menu .twitter-icon {
  fill: #fff;
  text-align: center;
}

.mobile-menu .twitter-icon > svg {
  height: 1em;
  width: 1em;
}

.menu-open .mobile-menu__bg {
  background-color: black;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-open .mobile-menu__cover {
  opacity: 1;
  visibility: visible;
}

.menu-open .mobile-menu__main {
  visibility: visible;
  display: block;
  margin-top: 120px;
}

.menu-open .mobile-menu__item {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.menu-open .mobile-menu__item:nth-child(1) {
  -webkit-transition-delay: 0.07s;
          transition-delay: 0.07s;
}

.menu-open .mobile-menu__item:nth-child(2) {
  -webkit-transition-delay: 0.14s;
          transition-delay: 0.14s;
}

.menu-open .mobile-menu__item:nth-child(3) {
  -webkit-transition-delay: 0.21s;
          transition-delay: 0.21s;
}

.menu-open .mobile-menu__item:nth-child(4) {
  -webkit-transition-delay: 0.28s;
          transition-delay: 0.28s;
}

.menu-open .mobile-menu__item:nth-child(5) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.menu-open .mobile-menu__btn > span {
  background-color: #fff;
}

.menu-open .mobile-menu__btn > span:nth-child(1) {
  -webkit-transition-delay: 70ms;
          transition-delay: 70ms;
  -webkit-transform: translateY(8px) rotate(135deg);
          transform: translateY(8px) rotate(135deg);
}

.menu-open .mobile-menu__btn > span:nth-child(2) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: translateX(-18px) scaleX(0);
          transform: translateX(-18px) scaleX(0);
}

.menu-open .mobile-menu__btn > span:nth-child(3) {
  -webkit-transition-delay: 140ms;
          transition-delay: 140ms;
  -webkit-transform: translateY(-8px) rotate(-135deg);
          transform: translateY(-8px) rotate(-135deg);
}

.menu-open .mobile-menu__text {
  color: #fff;
}

.menu-open .mobile-menu__text::after {
  content: "close";
}

.loading {
  width: 100vw;
  height: 100vh;
  -webkit-transition: all .8s;
  transition: all .8s;
  background-color: #A2D5D4;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.loading .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.6s infinite ease-in-out;
  animation: load7 1.6s infinite ease-in-out;
}

.spinner {
  z-index: 100;
  color: #000;
  font-size: 1rem;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.spinner::before, .spinner::after {
  content: '';
  position: absolute;
}

.spinner::before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner::after {
  left: 3.5em;
}

.spinner-text {
  font-size: 1.75rem;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    -webkit-box-shadow: 0 2.5em 0 -1.3em;
            box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    -webkit-box-shadow: 0 2.5em 0 0;
            box-shadow: 0 2.5em 0 0;
  }
}

@keyframes load7 {
  0%,
  80%,
  100% {
    -webkit-box-shadow: 0 2.5em 0 -1.3em;
            box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    -webkit-box-shadow: 0 2.5em 0 0;
            box-shadow: 0 2.5em 0 0;
  }
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

.fadeIn.up .fade-item {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.fadeIn.down .fade-item {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.fadeIn.left .fade-item {
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

.fadeIn.right .fade-item {
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

.fadeIn .fade-item {
  -webkit-transition: all .6s;
  transition: all .6s;
  opacity: 0;
}

.fadeIn.show .fade-item {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.fadeIn.show .fade-item:nth-child(1) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.fadeIn.show .fade-item:nth-child(2) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.fadeIn.show .fade-item:nth-child(3) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.fadeIn.show .fade-item:nth-child(4) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.fadeIn.show .fade-item:nth-child(5) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.fadeIn.show .fade-item:nth-child(6) {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.fadeIn.show .fade-item:nth-child(7) {
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}

.fadeIn.show .fade-item:nth-child(8) {
  -webkit-transition-delay: 1.6s;
          transition-delay: 1.6s;
}

.fadeIn.show .fade-item:nth-child(9) {
  -webkit-transition-delay: 1.8s;
          transition-delay: 1.8s;
}

.fadeIn.show .fade-item:nth-child(10) {
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

.fadeIn.show .fade-item:nth-child(11) {
  -webkit-transition-delay: 2.2s;
          transition-delay: 2.2s;
}

.fadeIn.show .fade-item:nth-child(12) {
  -webkit-transition-delay: 2.4s;
          transition-delay: 2.4s;
}

.fadeIn.show .fade-item:nth-child(13) {
  -webkit-transition-delay: 2.6s;
          transition-delay: 2.6s;
}

.fadeIn.show .fade-item:nth-child(14) {
  -webkit-transition-delay: 2.8s;
          transition-delay: 2.8s;
}

.fadeIn.show .fade-item:nth-child(15) {
  -webkit-transition-delay: 3s;
          transition-delay: 3s;
}

.fadeIn.show .fade-item:nth-child(16) {
  -webkit-transition-delay: 3.2s;
          transition-delay: 3.2s;
}

.fadeIn.show .fade-item:nth-child(17) {
  -webkit-transition-delay: 3.4s;
          transition-delay: 3.4s;
}

.fadeIn.show .fade-item:nth-child(18) {
  -webkit-transition-delay: 3.6s;
          transition-delay: 3.6s;
}

.fadeIn.show .fade-item:nth-child(19) {
  -webkit-transition-delay: 3.8s;
          transition-delay: 3.8s;
}

.fadeIn.show .fade-item:nth-child(20) {
  -webkit-transition-delay: 4s;
          transition-delay: 4s;
}

.fadeIn.show .fade-item:nth-child(21) {
  -webkit-transition-delay: 4.2s;
          transition-delay: 4.2s;
}

.fadeIn.show .fade-item:nth-child(22) {
  -webkit-transition-delay: 4.4s;
          transition-delay: 4.4s;
}

.fadeIn.show .fade-item:nth-child(23) {
  -webkit-transition-delay: 4.6s;
          transition-delay: 4.6s;
}

.fadeIn.show .fade-item:nth-child(24) {
  -webkit-transition-delay: 4.8s;
          transition-delay: 4.8s;
}

.fadeIn.show .fade-item:nth-child(25) {
  -webkit-transition-delay: 5s;
          transition-delay: 5s;
}

.fadeIn.show .fade-item:nth-child(26) {
  -webkit-transition-delay: 5.2s;
          transition-delay: 5.2s;
}

.fadeIn.show .fade-item:nth-child(27) {
  -webkit-transition-delay: 5.4s;
          transition-delay: 5.4s;
}

.fadeIn.show .fade-item:nth-child(28) {
  -webkit-transition-delay: 5.6s;
          transition-delay: 5.6s;
}

.fadeIn.show .fade-item:nth-child(29) {
  -webkit-transition-delay: 5.8s;
          transition-delay: 5.8s;
}

.fadeIn.show .fade-item:nth-child(30) {
  -webkit-transition-delay: 6s;
          transition-delay: 6s;
}

.fadeIn.show .fade-item:nth-child(31) {
  -webkit-transition-delay: 6.2s;
          transition-delay: 6.2s;
}

.fadeIn.show .fade-item:nth-child(32) {
  -webkit-transition-delay: 6.4s;
          transition-delay: 6.4s;
}

.fadeIn.show .fade-item:nth-child(33) {
  -webkit-transition-delay: 6.6s;
          transition-delay: 6.6s;
}

.fadeIn.show .fade-item:nth-child(34) {
  -webkit-transition-delay: 6.8s;
          transition-delay: 6.8s;
}

.fadeIn.show .fade-item:nth-child(35) {
  -webkit-transition-delay: 7s;
          transition-delay: 7s;
}

.fadeIn.show .fade-item:nth-child(36) {
  -webkit-transition-delay: 7.2s;
          transition-delay: 7.2s;
}

.fadeIn.show .fade-item:nth-child(37) {
  -webkit-transition-delay: 7.4s;
          transition-delay: 7.4s;
}

.fadeIn.show .fade-item:nth-child(38) {
  -webkit-transition-delay: 7.6s;
          transition-delay: 7.6s;
}

.fadeIn.show .fade-item:nth-child(39) {
  -webkit-transition-delay: 7.8s;
          transition-delay: 7.8s;
}

.fadeIn.show .fade-item:nth-child(40) {
  -webkit-transition-delay: 8s;
          transition-delay: 8s;
}

.fadeIn.show .fade-item:nth-child(41) {
  -webkit-transition-delay: 8.2s;
          transition-delay: 8.2s;
}

.fadeIn.show .fade-item:nth-child(42) {
  -webkit-transition-delay: 8.4s;
          transition-delay: 8.4s;
}

.fadeIn.show .fade-item:nth-child(43) {
  -webkit-transition-delay: 8.6s;
          transition-delay: 8.6s;
}

.fadeIn.show .fade-item:nth-child(44) {
  -webkit-transition-delay: 8.8s;
          transition-delay: 8.8s;
}

.fadeIn.show .fade-item:nth-child(45) {
  -webkit-transition-delay: 9s;
          transition-delay: 9s;
}

.fadeIn.show .fade-item:nth-child(46) {
  -webkit-transition-delay: 9.2s;
          transition-delay: 9.2s;
}

.fadeIn.show .fade-item:nth-child(47) {
  -webkit-transition-delay: 9.4s;
          transition-delay: 9.4s;
}

.fadeIn.show .fade-item:nth-child(48) {
  -webkit-transition-delay: 9.6s;
          transition-delay: 9.6s;
}

.fadeIn.show .fade-item:nth-child(49) {
  -webkit-transition-delay: 9.8s;
          transition-delay: 9.8s;
}

.fadeIn.show .fade-item:nth-child(50) {
  -webkit-transition-delay: 10s;
          transition-delay: 10s;
}

.fadeIn.show .fade-item:nth-child(51) {
  -webkit-transition-delay: 10.2s;
          transition-delay: 10.2s;
}

.fadeIn.show .fade-item:nth-child(52) {
  -webkit-transition-delay: 10.4s;
          transition-delay: 10.4s;
}

.fadeIn.show .fade-item:nth-child(53) {
  -webkit-transition-delay: 10.6s;
          transition-delay: 10.6s;
}

.fadeIn.show .fade-item:nth-child(54) {
  -webkit-transition-delay: 10.8s;
          transition-delay: 10.8s;
}

.fadeIn.show .fade-item:nth-child(55) {
  -webkit-transition-delay: 11s;
          transition-delay: 11s;
}

.fadeIn.show .fade-item:nth-child(56) {
  -webkit-transition-delay: 11.2s;
          transition-delay: 11.2s;
}

.fadeIn.show .fade-item:nth-child(57) {
  -webkit-transition-delay: 11.4s;
          transition-delay: 11.4s;
}

.fadeIn.show .fade-item:nth-child(58) {
  -webkit-transition-delay: 11.6s;
          transition-delay: 11.6s;
}

.fadeIn.show .fade-item:nth-child(59) {
  -webkit-transition-delay: 11.8s;
          transition-delay: 11.8s;
}

.fadeIn.show .fade-item:nth-child(60) {
  -webkit-transition-delay: 12s;
          transition-delay: 12s;
}

#page-top {
  position: fixed;
  bottom: 80px;
  right: 5%;
  display: block;
  width: 56px;
  height: 56px;
  background-color: #13201e;
  border-radius: 50%;
  z-index: 100;
  cursor: pointer;
}

#page-top a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

#page-top a::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: '';
  width: 16px;
  height: 16px;
  background-image: url(../images/arrow_up_white.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.pageTopTrigger {
  position: absolute;
  top: 100vh;
}

.pageTopTrigger #page-top {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.pageTopTrigger.show #page-top {
  opacity: 1;
  visibility: visible;
  -webkit-transform: none;
          transform: none;
}

.pageTopTrigger.show #page-top:hover {
  opacity: 1;
}
