/******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/

// menu↓↓↓↓↓
.menu {
  &-img {
    // height: 300px;
    // width: 100%;
    margin-bottom: 30px;
  }
  & .btn-more {
    padding-top: 10px;
  }
}
