/******************************************************************

Stylesheet: 768px以上(スマホの横向き)のモニタで適用

******************************************************************/

// menu↓↓↓↓↓
.menu {
  &-flex {
    flex-direction: row;
    align-items: center;
  }
  &-img {
    width: 39.3%;
    height: 600px;
    margin-left: 0px;
    & > img {
      width: 100%;
      height: 100%;
    }
  }
}
  
// }
.sec {
  &-img {
    & img {
      height: 400px;
    }
  }
}