$cWhite: white;
$cBlack: black;
$cSubTitle: #535353;
$cBgGray: #eaebe6;
// $cWineRed: #904669;
$cMainRed: #D12B2B;
$contentMaxWidth: 1070px;
$navHeight: 100px;
$fShueiMG : dnp-shuei-mgothic-std, sans-serif;